# res
<a id='another_cell'></a>

In [21]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction import DictVectorizer

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Tiana125/assessment_dsss2021/main/telecom_users.csv",
                  low_memory = False)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5986 non-null   object
 1   SeniorCitizen     5986 non-null   int64
 2   Partner           5986 non-null   object
 3   Dependents        5986 non-null   object
 4   tenure            5986 non-null   int64
 5   PhoneService      5986 non-null   object
 6   MultipleLines     5986 non-null   object
 7   InternetService   5986 non-null   object
 8   OnlineSecurity    5986 non-null   object
 9   OnlineBackup      5986 non-null   object
 10  DeviceProtection  5986 non-null   object
 11  TechSupport       5986 non-null   object
 12  StreamingTV       5986 non-null   object
 13  StreamingMovies   5986 non-null   object
 14  Contract          5986 non-null   object
 15  PaperlessBilling  5986 non-null   object
 16  PaymentMethod     5986 non-null   object
 17  MonthlyCharges    5986 non-null   float64
 18  TotalCharges      5986 non-null   object
 19  Churn             5986 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 935.4+ KB

In [4]:
data = data.drop(["Unnamed: 0", "customerID"], axis = 1)

In [8]:
cat_columns = ['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Churn']
num_columns = ['TotalCharges','MonthlyCharges','tenure']

In [13]:
for i in data[cat_columns].columns:
    
    print('Column name:',i)
    print('Unique values:',data[i].unique())
    print('Min values:',data[i].min())
    print('value counts:',data[i].value_counts(1)*100)
    print('\n ')

Column name: gender
Unique vlaues: ['Male' 'Female']
Min values: Female
value counts: Male      50.952222
Female    49.047778
Name: gender, dtype: float64


Column name: SeniorCitizen
Unique vlaues: [0 1]
Min values: 0
value counts: 0    83.862345
1    16.137655
Name: SeniorCitizen, dtype: float64


Column name: Partner
Unique vlaues: ['Yes' 'No']
Min values: No
value counts: No     51.486803
Yes    48.513197
Name: Partner, dtype: float64


Column name: Dependents
Unique vlaues: ['Yes' 'No']
Min values: No
value counts: No     70.080187
Yes    29.919813
Name: Dependents, dtype: float64


Column name: PhoneService
Unique vlaues: ['Yes' 'No']
Min values: No
value counts: Yes    90.143669
No      9.856331
Name: PhoneService, dtype: float64


Column name: MultipleLines
Unique vlaues: ['Yes' 'No' 'No phone service']
Min values: No
value counts: No                  47.577681
Yes                 42.565987
No phone service     9.856331
Name: MultipleLines, dtype: float64


Column name: InternetService
Unique vlaues: ['No' 'Fiber optic' 'DSL']
Min values: DSL
value counts: Fiber optic    43.885733
DSL            34.547277
No             21.566990
Name: InternetService, dtype: float64


Column name: OnlineSecurity
Unique vlaues: ['No internet service' 'No' 'Yes']
Min values: No
value counts: No                     49.816238
Yes                    28.616772
No internet service    21.566990
Name: OnlineSecurity, dtype: float64


Column name: OnlineBackup
Unique vlaues: ['No internet service' 'Yes' 'No']
Min values: No
value counts: No                     43.518209
Yes                    34.914801
No internet service    21.566990
Name: OnlineBackup, dtype: float64


Column name: DeviceProtection
Unique vlaues: ['No internet service' 'Yes' 'No']
Min values: No
value counts: No                     44.102907
Yes                    34.330104
No internet service    21.566990
Name: DeviceProtection, dtype: float64


Column name: TechSupport
Unique vlaues: ['No internet service' 'No' 'Yes']
Min values: No
value counts: No                     49.448714
Yes                    28.984297
No internet service    21.566990
Name: TechSupport, dtype: float64


Column name: StreamingTV
Unique vlaues: ['No internet service' 'Yes' 'No']
Min values: No
value counts: No                     39.909790
Yes                    38.523221
No internet service    21.566990
Name: StreamingTV, dtype: float64


Column name: StreamingMovies
Unique vlaues: ['No internet service' 'No' 'Yes']
Min values: No
value counts: No                     39.358503
Yes                    39.074507
No internet service    21.566990
Name: StreamingMovies, dtype: float64


Column name: Contract
Unique vlaues: ['Two year' 'Month-to-month' 'One year']
Min values: Month-to-month
value counts: Month-to-month    54.610758
Two year          24.072837
One year          21.316405
Name: Contract, dtype: float64


Column name: PaperlessBilling
Unique vlaues: ['No' 'Yes']
Min values: No
value counts: Yes    58.937521
No     41.062479
Name: PaperlessBilling, dtype: float64


Column name: PaymentMethod
Unique vlaues: ['Credit card (automatic)' 'Bank transfer (automatic)' 'Electronic check'
 'Mailed check']
Min values: Bank transfer (automatic)
value counts: Electronic check             33.511527
Mailed check                 22.870030
Bank transfer (automatic)    21.850986
Credit card (automatic)      21.767457
Name: PaymentMethod, dtype: float64


Column name: Churn
Unique vlaues: ['No' 'Yes']
Min values: No
value counts: No     73.488139
Yes    26.511861
Name: Churn, dtype: float64

In [15]:
for i in data[num_columns].columns:
    print('Column name:',i)
    print('max values:',data[i].max())
    print('Min values:',data[i].min())
    print('\n ')

Column name: TotalCharges
max vlaues: 999.9
Min values:


Column name: MonthlyCharges
max vlaues: 118.75
Min values: 18.25


Column name: tenure
max vlaues: 72
Min values: 0

In [29]:
# replace empty space with median

data = data[data.TotalCharges != " "]
data.TotalCharges = data.TotalCharges.astype("float")

In [19]:
churn = data.Churn
data = data.drop("Churn", axis = 1)

In [23]:
le = LabelEncoder() # creates the LabelEncoder object
le.fit(['Yes', 'No']) # explicitly encode '<=50k' and '>50k' with 0 and 1, respectively
label_y = le.transform(churn) # runs LabelEncoder on the over50k column

In [30]:
data_dict = data.to_dict('records')
#####

vec = DictVectorizer()  # create the DictVectorizer object
vec_array = vec.fit_transform(data_dict).toarray()  
# execute process on the record dictionaries and transform the result into a numpy array objec

vec.get_feature_names()

['Contract=Month-to-month',
 'Contract=One year',
 'Contract=Two year',
 'Dependents=No',
 'Dependents=Yes',
 'DeviceProtection=No',
 'DeviceProtection=No internet service',
 'DeviceProtection=Yes',
 'InternetService=DSL',
 'InternetService=Fiber optic',
 'InternetService=No',
 'MonthlyCharges',
 'MultipleLines=No',
 'MultipleLines=No phone service',
 'MultipleLines=Yes',
 'OnlineBackup=No',
 'OnlineBackup=No internet service',
 'OnlineBackup=Yes',
 'OnlineSecurity=No',
 'OnlineSecurity=No internet service',
 'OnlineSecurity=Yes',
 'PaperlessBilling=No',
 'PaperlessBilling=Yes',
 'Partner=No',
 'Partner=Yes',
 'PaymentMethod=Bank transfer (automatic)',
 'PaymentMethod=Credit card (automatic)',
 'PaymentMethod=Electronic check',
 'PaymentMethod=Mailed check',
 'PhoneService=No',
 'PhoneService=Yes',
 'SeniorCitizen',
 'StreamingMovies=No',
 'StreamingMovies=No internet service',
 'StreamingMovies=Yes',
 'StreamingTV=No',
 'StreamingTV=No internet service',
 'StreamingTV=Yes',
 'TechSupport=No',
 'TechSupport=No internet service',
 'TechSupport=Yes',
 'TotalCharges',
 'gender=Female',
 'gender=Male',
 'tenure']

[Link to the destination](#another_cell)